<% layout('/layouts/boilerplate') %>

  <h1>Add Image</h1>

  <form action="/images" method="post" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*" />
    <input type="text" name="title" placeholder="title" required>
    <button type="submit">Upload</button>
  </form>


  <div class="lightbox-gallery">
    <div class="container">
        <h2 class="text-center">Chic Station Gallery</h2>
        <div class="photos">
          <% if (images.length > 0) { %>
            <% images.map((image, index) => { %>
              <div class="item ">
                <img src="<%= image.avatar %>" alt="<%= image.title %>">
                <form action="/images/<%= image._id %>?_method=DELETE" method="POST">
                  <button type="submit" class="delete-button">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </form>
                
              </div>
              <% if ((index + 1) % 4 === 0) { %>
                <div class="clearfix"></div>
              <% } %>
            <% }) %>
          <% } else { %>
            <p>No images found.</p>
          <% } %>
        </div>
      </div>
 
  </div>
  
  