<% layout('/layouts/boilerplate') %>

  <h1>Add Image</h1>

  <form action="/images" method="post" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*" />
    <input type="text" name="title" placeholder="title" required>
    <button type="submit">Upload</button>
  </form>


  <div class="lightbox-gallery">
    <div class="container">
      <div class="intro">
        <h2 class="text-center">Chic Station Gallery</h2>    
        <% if (images.length > 0) { %>
          <% images.map((image) => { %>
            <img src="<%= image.avatar %>" alt="<%= image.title %>">
            <form action="/images/<%= image._id %>?_method=DELETE" method="POST">
              <button type="submit">Delete</button>
            </form>
          <% }) %>
        <% } else { %>
          <p>No images found.</p>
        <% } %>     
      </div>     
    </div>
  </div>