<% layout('/layouts/boilerplate') %>


<main class="container">
    <div class="jumbotron">
      <img src="static/assets/dashboard.png" alt="Landing Page Image" class="img-fluid" style="max-width: 100%; height: auto;">
    </div>
  </main>
  
  

